* {
    margin: 0;
}

html {
    background-color: #f5f5f5;
}

.header {
    display: flex;

    background-color: white;
}

.logo {
    width: 15%;
    height: 15%;

    margin-left: 0;
    margin-right: auto;
}

#add-proj-btn {
    position: fixed;

    height: 100px;
    width: 100px;

    bottom: 20px;
    right: 20px;

    border-radius: 50%;
    border: none;

    background-color: #39a84e;

    cursor: pointer;

    font-size: 80px;

    color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}

.add-proj-btn:hover {
    background-color: #3ab336;
    color: white;
}

.project {
    display: flex;

    flex-direction: column;

    margin: 50px auto;
    padding: 20px;

    width: 95%;
    height: auto;

    box-sizing: border-box;

    border-radius: 20px;

    background-color: white;
}
